body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #2A91D7;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #494949;
}

.app{
	display: block;
	margin: 0px auto;
	margin-top: 50px;
	width: 600px;
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}